@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --font: 'Montserrat', sans-serif;
  --primary: #191919;
  --primary-light: lighten(var(--primary), 40%);
}

body {
  color: var(--primary);
  font-family: var(--font);
  font-size: 16px;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

button,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

a {
  color: var(--primary);
  outline: 0 none;
}

h5 {
  font-weight: bold;
  font-size: 1.5rem; // 24px
}

h6 {
  font-size: 1.125rem; // 18px
}
