.overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;

  .dialog {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: white;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    padding: 8px;
    opacity: 0;
    animation: scaleRight 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  }

  &.out {
    animation: quickScaleLeft 0s 0.2s linear forwards;

    animation: fadeOut 0.1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    .dialog {
      animation: scaleLeft 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    }
  }
}

.svg-wrapper {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  opacity: 0.5;

  > svg {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 50px;
    right: 70px;
  }

  &:hover {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    background: rgba(0, 0, 0, 0);
  }
  100% {
    background: rgba(0, 0, 0, 0.7);
  }
}

@keyframes fadeOut {
  0% {
    background: rgba(0, 0, 0, 0.7);
  }
  100% {
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes scaleRight {
  0% {
    transform: scale(0.8) translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
}

@keyframes scaleLeft {
  0% {
    transform: scale(1) translateX(0px);
    opacity: 1;
  }
  100% {
    transform: scale(0.8) translateX(1000px);
    opacity: 0;
  }
}

@keyframes quickScaleLeft {
  0% {
    transform: scale(1);
  }
  99.9% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
